html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

input[type="button"], input[type="reset"], input[type="submit"],
button {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  -webkit-font-smoothing: antialiased;
  background-color: #477dca;
  border-radius: 3px;
  border: none;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  font-weight: 600;
  line-height: 1;
  padding: 0.75em 1em;
  text-decoration: none;
  user-select: none;
  vertical-align: middle;
  white-space: nowrap; }
  input[type="button"]:hover, input[type="button"]:focus, input[type="reset"]:hover, input[type="reset"]:focus, input[type="submit"]:hover, input[type="submit"]:focus,
  button:hover,
  button:focus {
    background-color: #2c5999;
    color: #fff; }
  input[type="button"]:disabled, input[type="reset"]:disabled, input[type="submit"]:disabled,
  button:disabled {
    cursor: not-allowed;
    opacity: 0.5; }

fieldset {
  background-color: #f7f7f7;
  border: 1px solid #ddd;
  margin: 0 0 0.75em;
  padding: 1.5em; }

input,
label,
select {
  display: block;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em; }

label {
  font-weight: 600;
  margin-bottom: 0.375em; }
  label.required::after {
    content: "*"; }
  label abbr {
    display: none; }

input[type="email"], input[type="number"], input[type="password"], input[type="search"], input[type="tel"], input[type="text"], input[type="url"], input[type="color"], input[type="date"], input[type="datetime"], input[type="datetime-local"], input[type="month"], input[type="time"], input[type="week"],
select[multiple=multiple],
textarea {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06);
  box-sizing: border-box;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  margin-bottom: 0.75em;
  padding: 0.5em;
  transition: border-color;
  width: 100%; }
  input[type="email"]:hover, input[type="number"]:hover, input[type="password"]:hover, input[type="search"]:hover, input[type="tel"]:hover, input[type="text"]:hover, input[type="url"]:hover, input[type="color"]:hover, input[type="date"]:hover, input[type="datetime"]:hover, input[type="datetime-local"]:hover, input[type="month"]:hover, input[type="time"]:hover, input[type="week"]:hover,
  select[multiple=multiple]:hover,
  textarea:hover {
    border-color: #c4c4c4; }
  input[type="email"]:focus, input[type="number"]:focus, input[type="password"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="text"]:focus, input[type="url"]:focus, input[type="color"]:focus, input[type="date"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus,
  select[multiple=multiple]:focus,
  textarea:focus {
    border-color: #477dca;
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.06), 0 0 5px rgba(55, 112, 192, 0.7);
    outline: none; }

textarea {
  resize: vertical; }

input[type="search"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none; }

input[type="checkbox"],
input[type="radio"] {
  display: inline;
  margin-right: 0.375em; }

input[type="file"] {
  padding-bottom: 0.75em;
  width: 100%; }

select {
  margin-bottom: 1.5em;
  max-width: 100%;
  width: auto; }

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0; }
dl {
  margin-bottom: 0.75em; }
  dl dt {
    font-weight: bold;
    margin-top: 0.75em; }
  dl dd {
    margin: 0; }

table {
  -webkit-font-feature-settings: "kern", "liga", "tnum";
  -moz-font-feature-settings: "kern", "liga", "tnum";
  -ms-font-feature-settings: "kern", "liga", "tnum";
  font-feature-settings: "kern", "liga", "tnum";
  border-collapse: collapse;
  margin: 0.75em 0;
  table-layout: fixed;
  width: 100%; }

th {
  border-bottom: 1px solid #b7b7b7;
  font-weight: 600;
  padding: 0.75em 0;
  text-align: left; }

td {
  border-bottom: 1px solid #ddd;
  padding: 0.75em 0; }

tr,
td,
th {
  vertical-align: middle; }

body {
  -webkit-font-feature-settings: "kern", "liga", "pnum";
  -moz-font-feature-settings: "kern", "liga", "pnum";
  -ms-font-feature-settings: "kern", "liga", "pnum";
  font-feature-settings: "kern", "liga", "pnum";
  -webkit-font-smoothing: antialiased;
  color: #333;
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.5; }

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  line-height: 1.2;
  margin: 0 0 0.75em; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.75em; }

h3 {
  font-size: 1.5em; }

h4 {
  font-size: 1.25em; }

h5 {
  font-size: 1.125em; }

h6 {
  font-size: 1em; }

p {
  margin: 0 0 0.75em; }

a {
  color: #477dca;
  text-decoration: none;
  transition: color 0.1s linear; }
  a:active, a:focus, a:hover {
    color: #2c5999; }
  a:active, a:focus {
    outline: none; }

hr {
  border-bottom: 1px solid #ddd;
  border-left: none;
  border-right: none;
  border-top: none;
  margin: 1.5em 0; }

img,
picture {
  margin: 0;
  max-width: 100%; }

* {
  box-sizing: border-box; }

html,
body {
  height: 100%;
  min-height: 100%; }

body:after {
  content: "";
  display: table;
  clear: both; }

.content-container {
  height: 100%;
  width: 50%;
  float: left; }
  .content-container .title,
  .content-container .status {
    text-align: center;
    margin-bottom: 0; }
  .content-container .title {
    padding: 15px 0;
    color: #ffffff;
    background: rgba(0, 0, 0, 0.2); }
  .content-container .status {
    position: relative;
    top: 50%;
    transform: translateY(-50%); }
  .content-container.alpha {
    border-right: 1px solid #eeeeee; }
  .content-container.open {
    background-image: -webkit-linear-gradient(#A8DBA8, #79BD9A);
    background-image: linear-gradient(#A8DBA8, #79BD9A); }
    .content-container.open .status {
      color: #34694e; }
  .content-container.closed {
    background-image: -webkit-linear-gradient(#aaffff 0%, #92F5F5 50%, #21CFD4 100%);
    background-image: linear-gradient(to   , #92F5F5 50%, #21CFD4 100%); }
    .content-container.closed .status {
      color: #13797c; }

.snow {
  width: 100%;
  position: absolute;
  top: -20px;
  z-index: 100; }
  .snow span {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    position: absolute; }
    .snow span:nth-child(1) {
      left: 6%;
      background: #ffffff;
      -webkit-animation: letItSnow-1 2.5s ease-in infinite;
      -moz-animation: letItSnow-1 2.5s ease-in infinite;
      animation: letItSnow-1 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(2) {
      left: 10%;
      background: #ffffff;
      -webkit-animation: letItSnow-2 2.5s ease-in infinite;
      -moz-animation: letItSnow-2 2.5s ease-in infinite;
      animation: letItSnow-2 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(3) {
      left: 34%;
      background: #ffffff;
      -webkit-animation: letItSnow-3 2.5s ease-in infinite;
      -moz-animation: letItSnow-3 2.5s ease-in infinite;
      animation: letItSnow-3 2.5s ease-in infinite;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s; }
    .snow span:nth-child(4) {
      left: 34%;
      background: #ffffff;
      -webkit-animation: letItSnow-4 2.5s ease-in infinite;
      -moz-animation: letItSnow-4 2.5s ease-in infinite;
      animation: letItSnow-4 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(5) {
      left: 35%;
      background: #ffffff;
      -webkit-animation: letItSnow-5 2.5s ease-in infinite;
      -moz-animation: letItSnow-5 2.5s ease-in infinite;
      animation: letItSnow-5 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(6) {
      left: 36%;
      background: #ffffff;
      -webkit-animation: letItSnow-6 2.5s ease-in infinite;
      -moz-animation: letItSnow-6 2.5s ease-in infinite;
      animation: letItSnow-6 2.5s ease-in infinite;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s; }
    .snow span:nth-child(7) {
      left: 40%;
      background: #ffffff;
      -webkit-animation: letItSnow-7 2.5s ease-in infinite;
      -moz-animation: letItSnow-7 2.5s ease-in infinite;
      animation: letItSnow-7 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(8) {
      left: 35%;
      background: #ffffff;
      -webkit-animation: letItSnow-8 2.5s ease-in infinite;
      -moz-animation: letItSnow-8 2.5s ease-in infinite;
      animation: letItSnow-8 2.5s ease-in infinite;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s; }
    .snow span:nth-child(9) {
      left: 3%;
      background: #ffffff;
      -webkit-animation: letItSnow-9 2.5s ease-in infinite;
      -moz-animation: letItSnow-9 2.5s ease-in infinite;
      animation: letItSnow-9 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(10) {
      left: 35%;
      background: #ffffff;
      -webkit-animation: letItSnow-10 2.5s ease-in infinite;
      -moz-animation: letItSnow-10 2.5s ease-in infinite;
      animation: letItSnow-10 2.5s ease-in infinite;
      -webkit-animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      animation-delay: 0.85s; }
    .snow span:nth-child(11) {
      left: 30%;
      background: #ffffff;
      -webkit-animation: letItSnow-11 2.5s ease-in infinite;
      -moz-animation: letItSnow-11 2.5s ease-in infinite;
      animation: letItSnow-11 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(12) {
      left: 22%;
      background: #ffffff;
      -webkit-animation: letItSnow-12 2.5s ease-in infinite;
      -moz-animation: letItSnow-12 2.5s ease-in infinite;
      animation: letItSnow-12 2.5s ease-in infinite;
      -webkit-animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      animation-delay: 0.85s; }
    .snow span:nth-child(13) {
      left: 28%;
      background: #ffffff;
      -webkit-animation: letItSnow-13 2.5s ease-in infinite;
      -moz-animation: letItSnow-13 2.5s ease-in infinite;
      animation: letItSnow-13 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(14) {
      left: 27%;
      background: #ffffff;
      -webkit-animation: letItSnow-14 2.5s ease-in infinite;
      -moz-animation: letItSnow-14 2.5s ease-in infinite;
      animation: letItSnow-14 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(15) {
      left: 15%;
      background: #ffffff;
      -webkit-animation: letItSnow-15 2.5s ease-in infinite;
      -moz-animation: letItSnow-15 2.5s ease-in infinite;
      animation: letItSnow-15 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(16) {
      left: 40%;
      background: #ffffff;
      -webkit-animation: letItSnow-16 2.5s ease-in infinite;
      -moz-animation: letItSnow-16 2.5s ease-in infinite;
      animation: letItSnow-16 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(17) {
      left: 45%;
      background: #ffffff;
      -webkit-animation: letItSnow-17 2.5s ease-in infinite;
      -moz-animation: letItSnow-17 2.5s ease-in infinite;
      animation: letItSnow-17 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(18) {
      left: 15%;
      background: #ffffff;
      -webkit-animation: letItSnow-18 2.5s ease-in infinite;
      -moz-animation: letItSnow-18 2.5s ease-in infinite;
      animation: letItSnow-18 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(19) {
      left: 10%;
      background: #ffffff;
      -webkit-animation: letItSnow-19 2.5s ease-in infinite;
      -moz-animation: letItSnow-19 2.5s ease-in infinite;
      animation: letItSnow-19 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(20) {
      left: 38%;
      background: #ffffff;
      -webkit-animation: letItSnow-20 2.5s ease-in infinite;
      -moz-animation: letItSnow-20 2.5s ease-in infinite;
      animation: letItSnow-20 2.5s ease-in infinite;
      -webkit-animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      animation-delay: 0.85s; }
    .snow span:nth-child(21) {
      left: 42%;
      background: #ffffff;
      -webkit-animation: letItSnow-21 2.5s ease-in infinite;
      -moz-animation: letItSnow-21 2.5s ease-in infinite;
      animation: letItSnow-21 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(22) {
      left: 24%;
      background: #ffffff;
      -webkit-animation: letItSnow-22 2.5s ease-in infinite;
      -moz-animation: letItSnow-22 2.5s ease-in infinite;
      animation: letItSnow-22 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(23) {
      left: 45%;
      background: #ffffff;
      -webkit-animation: letItSnow-23 2.5s ease-in infinite;
      -moz-animation: letItSnow-23 2.5s ease-in infinite;
      animation: letItSnow-23 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(24) {
      left: 32%;
      background: #ffffff;
      -webkit-animation: letItSnow-24 2.5s ease-in infinite;
      -moz-animation: letItSnow-24 2.5s ease-in infinite;
      animation: letItSnow-24 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(25) {
      left: 36%;
      background: #ffffff;
      -webkit-animation: letItSnow-25 2.5s ease-in infinite;
      -moz-animation: letItSnow-25 2.5s ease-in infinite;
      animation: letItSnow-25 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(26) {
      left: 48%;
      background: #ffffff;
      -webkit-animation: letItSnow-26 2.5s ease-in infinite;
      -moz-animation: letItSnow-26 2.5s ease-in infinite;
      animation: letItSnow-26 2.5s ease-in infinite;
      -webkit-animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      animation-delay: 0.85s; }
    .snow span:nth-child(27) {
      left: 20%;
      background: #ffffff;
      -webkit-animation: letItSnow-27 2.5s ease-in infinite;
      -moz-animation: letItSnow-27 2.5s ease-in infinite;
      animation: letItSnow-27 2.5s ease-in infinite;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s; }
    .snow span:nth-child(28) {
      left: 24%;
      background: #ffffff;
      -webkit-animation: letItSnow-28 2.5s ease-in infinite;
      -moz-animation: letItSnow-28 2.5s ease-in infinite;
      animation: letItSnow-28 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(29) {
      left: 10%;
      background: #ffffff;
      -webkit-animation: letItSnow-29 2.5s ease-in infinite;
      -moz-animation: letItSnow-29 2.5s ease-in infinite;
      animation: letItSnow-29 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(30) {
      left: 2%;
      background: #ffffff;
      -webkit-animation: letItSnow-30 2.5s ease-in infinite;
      -moz-animation: letItSnow-30 2.5s ease-in infinite;
      animation: letItSnow-30 2.5s ease-in infinite;
      -webkit-animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      animation-delay: 0.85s; }
    .snow span:nth-child(31) {
      left: 14%;
      background: #ffffff;
      -webkit-animation: letItSnow-31 2.5s ease-in infinite;
      -moz-animation: letItSnow-31 2.5s ease-in infinite;
      animation: letItSnow-31 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(32) {
      left: 39%;
      background: #ffffff;
      -webkit-animation: letItSnow-32 2.5s ease-in infinite;
      -moz-animation: letItSnow-32 2.5s ease-in infinite;
      animation: letItSnow-32 2.5s ease-in infinite;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s; }
    .snow span:nth-child(33) {
      left: 4%;
      background: #ffffff;
      -webkit-animation: letItSnow-33 2.5s ease-in infinite;
      -moz-animation: letItSnow-33 2.5s ease-in infinite;
      animation: letItSnow-33 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(34) {
      left: 3%;
      background: #ffffff;
      -webkit-animation: letItSnow-34 2.5s ease-in infinite;
      -moz-animation: letItSnow-34 2.5s ease-in infinite;
      animation: letItSnow-34 2.5s ease-in infinite;
      -webkit-animation-delay: 0.85s;
      -moz-animation-delay: 0.85s;
      animation-delay: 0.85s; }
    .snow span:nth-child(35) {
      left: 48%;
      background: #ffffff;
      -webkit-animation: letItSnow-35 2.5s ease-in infinite;
      -moz-animation: letItSnow-35 2.5s ease-in infinite;
      animation: letItSnow-35 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }
    .snow span:nth-child(36) {
      left: 23%;
      background: #ffffff;
      -webkit-animation: letItSnow-36 2.5s ease-in infinite;
      -moz-animation: letItSnow-36 2.5s ease-in infinite;
      animation: letItSnow-36 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(37) {
      left: 27%;
      background: #ffffff;
      -webkit-animation: letItSnow-37 2.5s ease-in infinite;
      -moz-animation: letItSnow-37 2.5s ease-in infinite;
      animation: letItSnow-37 2.5s ease-in infinite;
      -webkit-animation-delay: 1.7s;
      -moz-animation-delay: 1.7s;
      animation-delay: 1.7s; }
    .snow span:nth-child(38) {
      left: 8%;
      background: #ffffff;
      -webkit-animation: letItSnow-38 2.5s ease-in infinite;
      -moz-animation: letItSnow-38 2.5s ease-in infinite;
      animation: letItSnow-38 2.5s ease-in infinite;
      -webkit-animation-delay: 4.25s;
      -moz-animation-delay: 4.25s;
      animation-delay: 4.25s; }
    .snow span:nth-child(39) {
      left: 40%;
      background: #ffffff;
      -webkit-animation: letItSnow-39 2.5s ease-in infinite;
      -moz-animation: letItSnow-39 2.5s ease-in infinite;
      animation: letItSnow-39 2.5s ease-in infinite;
      -webkit-animation-delay: 3.4s;
      -moz-animation-delay: 3.4s;
      animation-delay: 3.4s; }
    .snow span:nth-child(40) {
      left: 10%;
      background: #ffffff;
      -webkit-animation: letItSnow-40 2.5s ease-in infinite;
      -moz-animation: letItSnow-40 2.5s ease-in infinite;
      animation: letItSnow-40 2.5s ease-in infinite;
      -webkit-animation-delay: 2.55s;
      -moz-animation-delay: 2.55s;
      animation-delay: 2.55s; }

@-webkit-keyframes letItSnow-1 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(265px);
    opacity: 0; } }
@-moz-keyframes letItSnow-1 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(368px);
    opacity: 0; } }
@keyframes letItSnow-1 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(115px);
    -moz-transform: translateY(115px);
    -ms-transform: translateY(115px);
    -o-transform: translateY(115px);
    transform: translateY(115px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-2 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(74px);
    opacity: 0; } }
@-moz-keyframes letItSnow-2 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(268px);
    opacity: 0; } }
@keyframes letItSnow-2 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(425px);
    -moz-transform: translateY(425px);
    -ms-transform: translateY(425px);
    -o-transform: translateY(425px);
    transform: translateY(425px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-3 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(69px);
    opacity: 0; } }
@-moz-keyframes letItSnow-3 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(104px);
    opacity: 0; } }
@keyframes letItSnow-3 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(168px);
    -moz-transform: translateY(168px);
    -ms-transform: translateY(168px);
    -o-transform: translateY(168px);
    transform: translateY(168px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-4 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(152px);
    opacity: 0; } }
@-moz-keyframes letItSnow-4 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(349px);
    opacity: 0; } }
@keyframes letItSnow-4 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(423px);
    -moz-transform: translateY(423px);
    -ms-transform: translateY(423px);
    -o-transform: translateY(423px);
    transform: translateY(423px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-5 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(130px);
    opacity: 0; } }
@-moz-keyframes letItSnow-5 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(206px);
    opacity: 0; } }
@keyframes letItSnow-5 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(263px);
    -moz-transform: translateY(263px);
    -ms-transform: translateY(263px);
    -o-transform: translateY(263px);
    transform: translateY(263px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-6 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(167px);
    opacity: 0; } }
@-moz-keyframes letItSnow-6 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(196px);
    opacity: 0; } }
@keyframes letItSnow-6 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(416px);
    -moz-transform: translateY(416px);
    -ms-transform: translateY(416px);
    -o-transform: translateY(416px);
    transform: translateY(416px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-7 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(359px);
    opacity: 0; } }
@-moz-keyframes letItSnow-7 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(400px);
    opacity: 0; } }
@keyframes letItSnow-7 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(399px);
    -moz-transform: translateY(399px);
    -ms-transform: translateY(399px);
    -o-transform: translateY(399px);
    transform: translateY(399px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-8 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(162px);
    opacity: 0; } }
@-moz-keyframes letItSnow-8 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(389px);
    opacity: 0; } }
@keyframes letItSnow-8 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(345px);
    -moz-transform: translateY(345px);
    -ms-transform: translateY(345px);
    -o-transform: translateY(345px);
    transform: translateY(345px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-9 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(66px);
    opacity: 0; } }
@-moz-keyframes letItSnow-9 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(419px);
    opacity: 0; } }
@keyframes letItSnow-9 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(209px);
    -moz-transform: translateY(209px);
    -ms-transform: translateY(209px);
    -o-transform: translateY(209px);
    transform: translateY(209px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-10 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(250px);
    opacity: 0; } }
@-moz-keyframes letItSnow-10 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(211px);
    opacity: 0; } }
@keyframes letItSnow-10 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(355px);
    -moz-transform: translateY(355px);
    -ms-transform: translateY(355px);
    -o-transform: translateY(355px);
    transform: translateY(355px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-11 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(135px);
    opacity: 0; } }
@-moz-keyframes letItSnow-11 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(113px);
    opacity: 0; } }
@keyframes letItSnow-11 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(227px);
    -moz-transform: translateY(227px);
    -ms-transform: translateY(227px);
    -o-transform: translateY(227px);
    transform: translateY(227px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-12 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(427px);
    opacity: 0; } }
@-moz-keyframes letItSnow-12 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(261px);
    opacity: 0; } }
@keyframes letItSnow-12 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(98px);
    -moz-transform: translateY(98px);
    -ms-transform: translateY(98px);
    -o-transform: translateY(98px);
    transform: translateY(98px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-13 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(358px);
    opacity: 0; } }
@-moz-keyframes letItSnow-13 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(337px);
    opacity: 0; } }
@keyframes letItSnow-13 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(406px);
    -moz-transform: translateY(406px);
    -ms-transform: translateY(406px);
    -o-transform: translateY(406px);
    transform: translateY(406px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-14 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(359px);
    opacity: 0; } }
@-moz-keyframes letItSnow-14 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(282px);
    opacity: 0; } }
@keyframes letItSnow-14 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(153px);
    -moz-transform: translateY(153px);
    -ms-transform: translateY(153px);
    -o-transform: translateY(153px);
    transform: translateY(153px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-15 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(284px);
    opacity: 0; } }
@-moz-keyframes letItSnow-15 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(107px);
    opacity: 0; } }
@keyframes letItSnow-15 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(325px);
    -moz-transform: translateY(325px);
    -ms-transform: translateY(325px);
    -o-transform: translateY(325px);
    transform: translateY(325px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-16 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(267px);
    opacity: 0; } }
@-moz-keyframes letItSnow-16 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(218px);
    opacity: 0; } }
@keyframes letItSnow-16 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(329px);
    -moz-transform: translateY(329px);
    -ms-transform: translateY(329px);
    -o-transform: translateY(329px);
    transform: translateY(329px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-17 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(356px);
    opacity: 0; } }
@-moz-keyframes letItSnow-17 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(360px);
    opacity: 0; } }
@keyframes letItSnow-17 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(59px);
    -moz-transform: translateY(59px);
    -ms-transform: translateY(59px);
    -o-transform: translateY(59px);
    transform: translateY(59px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-18 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(89px);
    opacity: 0; } }
@-moz-keyframes letItSnow-18 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(60px);
    opacity: 0; } }
@keyframes letItSnow-18 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(296px);
    -moz-transform: translateY(296px);
    -ms-transform: translateY(296px);
    -o-transform: translateY(296px);
    transform: translateY(296px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-19 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(323px);
    opacity: 0; } }
@-moz-keyframes letItSnow-19 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(404px);
    opacity: 0; } }
@keyframes letItSnow-19 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(340px);
    -moz-transform: translateY(340px);
    -ms-transform: translateY(340px);
    -o-transform: translateY(340px);
    transform: translateY(340px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-20 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(158px);
    opacity: 0; } }
@-moz-keyframes letItSnow-20 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(328px);
    opacity: 0; } }
@keyframes letItSnow-20 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(391px);
    -moz-transform: translateY(391px);
    -ms-transform: translateY(391px);
    -o-transform: translateY(391px);
    transform: translateY(391px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-21 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(397px);
    opacity: 0; } }
@-moz-keyframes letItSnow-21 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(180px);
    opacity: 0; } }
@keyframes letItSnow-21 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(361px);
    -moz-transform: translateY(361px);
    -ms-transform: translateY(361px);
    -o-transform: translateY(361px);
    transform: translateY(361px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-22 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(406px);
    opacity: 0; } }
@-moz-keyframes letItSnow-22 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(228px);
    opacity: 0; } }
@keyframes letItSnow-22 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(202px);
    -moz-transform: translateY(202px);
    -ms-transform: translateY(202px);
    -o-transform: translateY(202px);
    transform: translateY(202px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-23 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(430px);
    opacity: 0; } }
@-moz-keyframes letItSnow-23 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(188px);
    opacity: 0; } }
@keyframes letItSnow-23 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(174px);
    -moz-transform: translateY(174px);
    -ms-transform: translateY(174px);
    -o-transform: translateY(174px);
    transform: translateY(174px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-24 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(212px);
    opacity: 0; } }
@-moz-keyframes letItSnow-24 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(235px);
    opacity: 0; } }
@keyframes letItSnow-24 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(188px);
    -moz-transform: translateY(188px);
    -ms-transform: translateY(188px);
    -o-transform: translateY(188px);
    transform: translateY(188px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-25 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(352px);
    opacity: 0; } }
@-moz-keyframes letItSnow-25 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(383px);
    opacity: 0; } }
@keyframes letItSnow-25 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(421px);
    -moz-transform: translateY(421px);
    -ms-transform: translateY(421px);
    -o-transform: translateY(421px);
    transform: translateY(421px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-26 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(171px);
    opacity: 0; } }
@-moz-keyframes letItSnow-26 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(381px);
    opacity: 0; } }
@keyframes letItSnow-26 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(171px);
    -moz-transform: translateY(171px);
    -ms-transform: translateY(171px);
    -o-transform: translateY(171px);
    transform: translateY(171px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-27 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(363px);
    opacity: 0; } }
@-moz-keyframes letItSnow-27 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(441px);
    opacity: 0; } }
@keyframes letItSnow-27 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(414px);
    -moz-transform: translateY(414px);
    -ms-transform: translateY(414px);
    -o-transform: translateY(414px);
    transform: translateY(414px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-28 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(382px);
    opacity: 0; } }
@-moz-keyframes letItSnow-28 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(117px);
    opacity: 0; } }
@keyframes letItSnow-28 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(149px);
    -moz-transform: translateY(149px);
    -ms-transform: translateY(149px);
    -o-transform: translateY(149px);
    transform: translateY(149px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-29 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(141px);
    opacity: 0; } }
@-moz-keyframes letItSnow-29 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(398px);
    opacity: 0; } }
@keyframes letItSnow-29 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(146px);
    -moz-transform: translateY(146px);
    -ms-transform: translateY(146px);
    -o-transform: translateY(146px);
    transform: translateY(146px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-30 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(157px);
    opacity: 0; } }
@-moz-keyframes letItSnow-30 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(253px);
    opacity: 0; } }
@keyframes letItSnow-30 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(62px);
    -moz-transform: translateY(62px);
    -ms-transform: translateY(62px);
    -o-transform: translateY(62px);
    transform: translateY(62px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-31 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(85px);
    opacity: 0; } }
@-moz-keyframes letItSnow-31 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(297px);
    opacity: 0; } }
@keyframes letItSnow-31 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(202px);
    -moz-transform: translateY(202px);
    -ms-transform: translateY(202px);
    -o-transform: translateY(202px);
    transform: translateY(202px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-32 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(380px);
    opacity: 0; } }
@-moz-keyframes letItSnow-32 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(218px);
    opacity: 0; } }
@keyframes letItSnow-32 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(83px);
    -moz-transform: translateY(83px);
    -ms-transform: translateY(83px);
    -o-transform: translateY(83px);
    transform: translateY(83px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-33 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(380px);
    opacity: 0; } }
@-moz-keyframes letItSnow-33 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(319px);
    opacity: 0; } }
@keyframes letItSnow-33 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(58px);
    -moz-transform: translateY(58px);
    -ms-transform: translateY(58px);
    -o-transform: translateY(58px);
    transform: translateY(58px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-34 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(60px);
    opacity: 0; } }
@-moz-keyframes letItSnow-34 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(389px);
    opacity: 0; } }
@keyframes letItSnow-34 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(255px);
    -moz-transform: translateY(255px);
    -ms-transform: translateY(255px);
    -o-transform: translateY(255px);
    transform: translateY(255px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-35 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(68px);
    opacity: 0; } }
@-moz-keyframes letItSnow-35 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(238px);
    opacity: 0; } }
@keyframes letItSnow-35 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(436px);
    -moz-transform: translateY(436px);
    -ms-transform: translateY(436px);
    -o-transform: translateY(436px);
    transform: translateY(436px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-36 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(418px);
    opacity: 0; } }
@-moz-keyframes letItSnow-36 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(228px);
    opacity: 0; } }
@keyframes letItSnow-36 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(202px);
    -moz-transform: translateY(202px);
    -ms-transform: translateY(202px);
    -o-transform: translateY(202px);
    transform: translateY(202px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-37 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(152px);
    opacity: 0; } }
@-moz-keyframes letItSnow-37 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(446px);
    opacity: 0; } }
@keyframes letItSnow-37 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(61px);
    -moz-transform: translateY(61px);
    -ms-transform: translateY(61px);
    -o-transform: translateY(61px);
    transform: translateY(61px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-38 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(129px);
    opacity: 0; } }
@-moz-keyframes letItSnow-38 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(397px);
    opacity: 0; } }
@keyframes letItSnow-38 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(316px);
    -moz-transform: translateY(316px);
    -ms-transform: translateY(316px);
    -o-transform: translateY(316px);
    transform: translateY(316px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-39 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(216px);
    opacity: 0; } }
@-moz-keyframes letItSnow-39 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(441px);
    opacity: 0; } }
@keyframes letItSnow-39 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(333px);
    -moz-transform: translateY(333px);
    -ms-transform: translateY(333px);
    -o-transform: translateY(333px);
    transform: translateY(333px);
    opacity: 0; } }
@-webkit-keyframes letItSnow-40 {
  0% {
    -webkit-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(189px);
    opacity: 0; } }
@-moz-keyframes letItSnow-40 {
  0% {
    -moz-transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -moz-transform: translateY(180px);
    opacity: 0; } }
@keyframes letItSnow-40 {
  0% {
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
    opacity: 100%; }
  75% {
    opacity: 100%; }
  100% {
    -webkit-transform: translateY(111px);
    -moz-transform: translateY(111px);
    -ms-transform: translateY(111px);
    -o-transform: translateY(111px);
    transform: translateY(111px);
    opacity: 0; } }

/*# sourceMappingURL=app.css.map */
